:root {
  --primary: #1c1917;
  --secondary: #1e293b;
  /* --bg: #ffb92a; */
  --bg: #072728;
  --border: #a0a0a0;
  --base: #8dc1a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(var(--primary) 50%, var(--secondary) 50%);
  background-image: url(img/bg.png);
  display: flex;
  align-items: center;
}

.container {
  font-size: 16px;
  width: 90vw;
  max-width: 37.5rem;
  padding: 3em 1.8em;
  background-color: var(--bg);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
  opacity: 90%;
}

.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
}

.search-container input,
.search-container button {
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}

.search-container input {
  background-color: transparent;
  border: 1px solid var(--base);
  color: var(--base);
  padding: 0.7em;
}

.search-container input::placeholder {
  color: var(--base);
}

.search-container input:focus {
  border-color: var(--base);
}

.search-container button {
  background-color: var(--base);
  border: none;
  cursor: pointer;
}

#result {
  color: var(--base);
}

.info {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 8fr;
  margin-top: 1.2em;
}

.poster {
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  margin: 0.6em 0 0.9em 0;
}

.rating img {
  width: 1.2em;
}

.rating h4 {
  display: inline-block;
  font-size: 1.1em;
  font-weight: 500;
}

.details {
  display: flex;
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  color: var(--border);
  margin: 0.6em 0;
  font-weight: 300;
}

.genre {
  display: flex;
  justify-content: space-around;
}

.genre div {
  border: 1px solid var(--border);
  font-size: 0.75em;
  padding: 0.4em 1.6em;
  border-radius: 0.4em;
  font-weight: 300;
}

h3 {
  font-weight: 500;
  margin-top: 1.2em;
}

p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: var(--border);
}

.msg {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
  .poster {
    margin: auto;
    width: auto;
    max-height: 10.8em;
  }
  .info {
    grid-template-columns: 1fr;
  }
}
